<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Category</title>
</head>
<body>
<h1>Category</h1>
    <div th:if="${not #lists.isEmpty(categories)}">
        <h2>Category List</h2>
        <table >
            <tr>
                <th>Id</th>
                <th>name</th>
            </tr>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td><a th:href="${'/category/show/' + category.id.toHexString()}">View</a> </td>
                <td><a th:href="${'/category/edit/' + category.id.toHexString()}">Edit</a> </td>
                <td><a th:href="${'/category/delete/' + category.id.toHexString()}">Delete</a> </td>

            </tr>
        </table>
    </div>
</body>
</html>